# 1小时入门SparkSQL

### 一，RDD，DataFrame和DataSet对比


DataFrame在参照了Pandas的思想，在RDD基础上增加了schma，能够获取列名信息。

DataSet在DataFrame基础上进一步增加了数据类型信息，可以在编译时发现类型错误。

DataFrame可以看成DataSet[Row]，两者的API接口完全相同。

DataFrame和DataSet都支持SQL交互式查询，可以和 Hive无缝衔接。

DataSet只有Scala语言和Java语言接口中才支持，在Python和R语言接口只支持DataFrame。

![](RDD,DataFrame,Dataset对比.jpg)

In [1]:
val spark = SparkSession
.builder()
.appName("Spark SQL basic example")
.enableHiveSupport()
.getOrCreate()

import spark.implicits._

spark = org.apache.spark.sql.SparkSession@3f2343ea

org.apache.spark.sql.SparkSession@3f2343ea

### 二，创建DataFrame

1，通过toDF方法转换成DataFrame

可以将Seq,List或者 RDD转换成DataFrame

In [ ]:
//将Seq转换成DataFrame
val seq = Seq(
(1, "First Value", java.sql.Date.valueOf("2010-01-01")),
(2, "Second Value", java.sql.Date.valueOf("2010-02-01"))
)
val df = seq.toDF("int_column","string_column","date_column")
df.show

In [ ]:
//将List转换成DataFrame
val list = List(
("LiLei",15,88),
("HanMeiMei",16,90),
("DaChui",17,60)
)

val df = list.toDF("name","age","score")
df.show()
df.printSchema()

In [ ]:
//将RDD转换成DataFrame
val rdd = sc.parallelize(List(("LiLei",15),("HanMeiMei",17),("DaChui",16)),2)
val df = rdd.toDF("name","age")
df.show

2, 通过CreateDataFrame方法动态创建DataFrame

可以通过createDataFrame的方法指定rdd和schema创建DataFrame。

这种方法比较繁琐，但是可以在预先不知道schema和数据类型的情况下在代码中动态创建DataFrame.

In [ ]:
import org.apache.spark.sql.types._
import org.apache.spark.sql.Row

val schema = StructType(List(
StructField("integer_column", IntegerType, nullable = false),
StructField("string_column", StringType, nullable = true),
StructField("date_column", DateType, nullable = true)
))

val rdd = spark.sparkContext.parallelize(Seq(
Row(1, "First Value", java.sql.Date.valueOf("2010-01-01")),
Row(2, "Second Value", java.sql.Date.valueOf("2010-02-01")),
Row(2, "Second Value", null)
))
val df = spark.createDataFrame(rdd, schema)
df.show()

3，通过读取文件创建

可以读取json文件，csv文件，hive数据表或者mysql数据表得到DataFrame。

In [ ]:
//读取json文件生成DataFrame
val df = spark.read.json("resources/people.json")
df.show()

In [ ]:
//读取csv文件
val df = spark.sqlContext.read.format("com.databricks.spark.csv")
 .option("header","true") //如果在csv第一行有属性的话设置true，没有就是"false"
 .option("inferSchema","true")//这是自动推断属性列的数据类型。
 .option("delimiter", ",") //分隔符，默认为逗号 
 .load("iris.csv")
df.show()
df.printSchema()

In [ ]:
//读取parquet文件
val df = spark.read.parquet("resources/users.parquet")
df.show

In [ ]:
//读取mysql数据表生成DataFrame
val url = "jdbc:mysql://localhost:3306/test"
 val df = spark.read
 .format("jdbc")
 .option("url", url)
 .option("dbtable", "runoob_tbl")
 .option("user", "root")
 .option("password", "0845")
 .load()
 df.show()

In [ ]:
//读取hive数据表生成DataFrame
import java.io.File
import org.apache.spark.sql.{Row, SaveMode, SparkSession}

val warehouseLocation = new File("spark-warehouse").getAbsolutePath

val spark = SparkSession
  .builder()
  .appName("Spark Hive Example")
  .config("spark.sql.warehouse.dir", warehouseLocation)
  .enableHiveSupport()
  .getOrCreate()

import spark.implicits._
import spark.sql

sql("CREATE TABLE IF NOT EXISTS src (key INT, value STRING) USING hive")
sql("LOAD DATA LOCAL INPATH 'resources/kv1.txt' INTO TABLE src")

// The results of SQL queries are themselves DataFrames and support all normal functions.
val df = sql("SELECT key, value FROM src WHERE key < 10 ORDER BY key")

### 三，创建DataSet

DataSet主要通过toDS方法从Seq,List或者RDD数据类型转换得到，或者从DataFrame通过as方法转换得到。

1，通过toDS方法转换得到DataSet

In [29]:
//将Seq转换成DataSet
import spark.implicits._
case class Student(name:String,age:Int)

val seq = Seq(
Student("LiLei",16),
Student("DaChui",17),
Student("HanMeiMei",15)
)

val ds = seq.toDS
ds.show

+---------+---+
|     name|age|
+---------+---+
|    LiLei| 16|
|   DaChui| 17|
|HanMeiMei| 15|
+---------+---+

defined class Student
seq = List(Student(LiLei,16), Student(DaChui,17), Student(HanMeiMei,15))
ds = [name: string, age: int]

[name: string, age: int]

In [57]:
//将RDD转换成DataSet
import spark.implicits._
case class Student(name:String,age:Int)

val rdd = sc.parallelize(List(Student("LiLei",15),
                              Student("HanMeiMei",17),
                              Student("DaChui",16)))
val ds = rdd.toDS
ds.show

+---------+---+
|     name|age|
+---------+---+
|    LiLei| 15|
|HanMeiMei| 17|
|   DaChui| 16|
+---------+---+

defined class Student
rdd = ParallelCollectionRDD[163] at parallelize at <console>:27
ds = [name: string, age: int]

[name: string, age: int]

2，通过DataFrame的as转换方法得到DataSet

In [58]:
//读取json文件生成DataSet
import spark.implicits._
case class People(age:Long,name:String)
val ds = spark.read.json("resources/people.json").as[People]
ds.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

defined class People
ds = [age: bigint, name: string]

[age: bigint, name: string]

In [59]:
//读取csv文件并转换得到DataSet
import spark.implicits._
case class Flower(sepallength:Double,sepalwidth:Double,petallength:Double,petalwidth:Double,label:Int)
val ds = spark.sqlContext.read.format("com.databricks.spark.csv")
 .option("header","true") //如果在csv第一行有属性的话设置true，没有就是"false"
 .option("inferSchema","true")//这是自动推断属性列的数据类型。
 .option("delimiter", ",") //分隔符，默认为逗号 
 .load("resources/iris.csv")
 .as[Flower]
ds.show()
ds.printSchema()

+-----------+----------+-----------+----------+-----+
|sepallength|sepalwidth|petallength|petalwidth|label|
+-----------+----------+-----------+----------+-----+
|        5.1|       3.5|        1.4|       0.2|    0|
|        4.9|       3.0|        1.4|       0.2|    0|
|        4.7|       3.2|        1.3|       0.2|    0|
|        4.6|       3.1|        1.5|       0.2|    0|
|        5.0|       3.6|        1.4|       0.2|    0|
|        5.4|       3.9|        1.7|       0.4|    0|
|        4.6|       3.4|        1.4|       0.3|    0|
|        5.0|       3.4|        1.5|       0.2|    0|
|        4.4|       2.9|        1.4|       0.2|    0|
|        4.9|       3.1|        1.5|       0.1|    0|
|        5.4|       3.7|        1.5|       0.2|    0|
|        4.8|       3.4|        1.6|       0.2|    0|
|        4.8|       3.0|        1.4|       0.1|    0|
|        4.3|       3.0|        1.1|       0.1|    0|
|        5.8|       4.0|        1.2|       0.2|    0|
|        5.7|       4.4|        1.5|       0.4|    0|
|        5.4|       3.9|        1.3|       0.4|    0|
|        5.1|       3.5|        1.4|       0.3|    0|
|        5.7|       3.8|        1.7|       0.3|    0|
|        5.1|       3.8|        1.5|       0.3|    0|
+-----------+----------+-----------+----------+-----+
only showing top 20 rows

root
 |-- sepallength: double (nullable = true)
 |-- sepalwidth: double (nullable = true)
 |-- petallength: double (nullable = true)
 |-- petalwidth: double (nullable = true)
 |-- label: integer (nullable = true)

defined class Flower
ds = [sepallength: double, sepalwidth: double ... 3 more fields]

[sepallength: double, sepalwidth: double ... 3 more fields]

In [61]:
ds.getClass.getSimpleName

Dataset

### 四，DataFrame/DataSet保存成文件

可以保存成csv文件，json文件，parquet文件或者保存成hive数据表

In [15]:
//保存成csv文件
val peopleDF = spark.read.format("json").load("resources/people.json")
peopleDF.write.format("csv").option("header","true").save("people.csv")

peopleDF = [age: bigint, name: string]

lastException: Throwable = null

[age: bigint, name: string]

In [17]:
//先转换成rdd再保存
peopleDF.rdd.saveAsTextFile("newpeople.txt")

lastException: Throwable = null

In [18]:
//保存成json文件
peopleDF.write.json("people.json")

In [19]:
// 保存成parquet 文件, 可以存储schema信息
peopleDF.write.format("parquet").save("namesAndAges.parquet")
peopleDF.write.parquet("people.parquet")
val people = spark.read.parquet("people.parquet")

people = [age: bigint, name: string]

[age: bigint, name: string]

In [ ]:
// 保存成hive数据表
val peopleDF = spark.read.format("json").load("resources/people.json")
peopleDF.write.bucketBy(42, "name").sortBy("age").saveAsTable("people_bucketed")
val usersDF = spark.read.load("resources/users.parquet")
usersDF.write.partitionBy("favorite_color").format("parquet").save("namesPartByColor.parquet")

### 五，DataFrame的API交互

In [92]:
import spark.implicits._

val list = List(
("LiLei",15,"male"),
("HanMeiMei",16,"female"),
("DaChui",17,"male")
)

val df = list.toDF("name","age","gender")
df.show()
df.printSchema()

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
+---------+---+------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = false)
 |-- gender: string (nullable = true)

list = List((LiLei,15,male), (HanMeiMei,16,female), (DaChui,17,male))
df = [name: string, age: int ... 1 more field]

[name: string, age: int ... 1 more field]

**1，Action操作**

DataFrame的Action操作包括show,count,collect,collectAsList,describe,take,takeAsList,head,first等操作。

In [140]:
//show
df.show()

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
+---------+---+------+

In [142]:
//show(numRows: Int, truncate: Boolean) 
//第二个参数设置是否当输出字段长度超过20时进行截取
df.show(2,false)

+---------+---+------+
|name     |age|gender|
+---------+---+------+
|LiLei    |15 |male  |
|HanMeiMei|16 |female|
+---------+---+------+
only showing top 2 rows

In [157]:
//count
df.count

3

In [143]:
//collect
df.collect()

Array([LiLei,15,male], [HanMeiMei,16,female], [DaChui,17,male])

In [144]:
//collectAsList
df.collectAsList()

[[LiLei,15,male], [HanMeiMei,16,female], [DaChui,17,male]]

In [145]:
//first
df.first

[LiLei,15,male]

In [146]:
//take
df.take(3)

Array([LiLei,15,male], [HanMeiMei,16,female], [DaChui,17,male])

In [148]:
//head
df.head(2)

Array([LiLei,15,male], [HanMeiMei,16,female])

In [154]:
//takeAsList
df.takeAsList(2)

[[LiLei,15,male], [HanMeiMei,16,female]]

**2，类RDD操作**

DataFrame支持RDD常用的map,flatMap,filter,reduce,distinct,

cache,sample,mapPartitions,foreach,intersect,except等操作。

可以把DataFrame当做数据类型为Row的RDD来进行操作。

In [314]:
import spark.implicits._
val df = List("Hello World","Hello China","Hello Spark").toDF("value")
df.show

+-----------+
|      value|
+-----------+
|Hello World|
|Hello China|
|Hello Spark|
+-----------+

df = [value: string]

[value: string]

In [315]:
//map
df.map(x=>x(0).toString.toUpperCase).show

+-----------+
|      value|
+-----------+
|HELLO WORLD|
|HELLO CHINA|
|HELLO SPARK|
+-----------+

In [211]:
//flatMap
val flatdf = df.flatMap(x=>x(0).toString.split(" "))
flatdf.show

+-----+
|value|
+-----+
|Hello|
|World|
|Hello|
|China|
|Hello|
|Spark|
+-----+

flatdf = [value: string]

[value: string]

In [212]:
//distinct
flatdf.distinct.show

+-----+
|value|
+-----+
|World|
|China|
|Hello|
|Spark|
+-----+

In [319]:
//cache缓存到内存，checkpoint永久性保存到磁盘 
df.cache

[value: string]

In [205]:
//filter过滤
df.filter(s=>s(0).toString.endsWith("Spark")).show

+-----------+
|      value|
+-----------+
|Hello Spark|
+-----------+

In [279]:
//sample抽样
df.sample(false,0.6,0).show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
+---------+---+------+

In [116]:
df.show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
|    RuHua| 16|  null|
+---------+---+------+

In [115]:
//intersect交集
val dfstudent = Seq(("LiLei",15,"male"),("HanMeiMei",16,"female"),
                    ("Jim",18,"male")).toDF("name","age","gender")

dfstudent.show
df.intersect(dfstudent).show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|      Jim| 18|  male|
+---------+---+------+

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|HanMeiMei| 16|female|
|    LiLei| 15|  male|
+---------+---+------+

dfstudent = [name: string, age: int ... 1 more field]

[name: string, age: int ... 1 more field]

In [117]:
//except补集
df.except(dfstudent).show

+------+---+------+
|  name|age|gender|
+------+---+------+
| RuHua| 16|  null|
|DaChui| 17|  male|
+------+---+------+

**3，类Excel操作**

可以对DataFrame进行增加列，删除列，重命名列，排序等操作，去除重复行，去除空行，就跟操作Excel表格一样。

In [324]:
import spark.implicits._

val list = List(
("LiLei",15,"male"),
("HanMeiMei",16,"female"),
("DaChui",17,"male"),
("RuHua",16,null)
)

val df = list.toDF("name","age","gender")
df.show()
df.printSchema()

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
|    RuHua| 16|  null|
+---------+---+------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = false)
 |-- gender: string (nullable = true)

list = List((LiLei,15,male), (HanMeiMei,16,female), (DaChui,17,male), (RuHua,16,null))
df = [name: string, age: int ... 1 more field]

[name: string, age: int ... 1 more field]

In [282]:
//增加列
df.withColumn("birthyear",-df("age")+2019).show

+---------+---+------+---------+
|     name|age|gender|birthyear|
+---------+---+------+---------+
|    LiLei| 15|  male|     2004|
|HanMeiMei| 16|female|     2003|
|   DaChui| 17|  male|     2002|
|    RuHua| 16|  null|     2003|
+---------+---+------+---------+

In [325]:
//增加序号列
import org.apache.spark.sql.functions.monotonically_increasing_id
val dfnew = df.withColumn("idx", monotonically_increasing_id)
dfnew.show

+---------+---+------+---+
|     name|age|gender|idx|
+---------+---+------+---+
|    LiLei| 15|  male|  0|
|HanMeiMei| 16|female|  1|
|   DaChui| 17|  male|  2|
|    RuHua| 16|  null|  3|
+---------+---+------+---+

dfnew = [name: string, age: int ... 2 more fields]

[name: string, age: int ... 2 more fields]

In [327]:
//置换列的顺序
val df = dfnew.select("idx","name","age","gender")
df.show

+---+---------+---+------+
|idx|     name|age|gender|
+---+---------+---+------+
|  0|    LiLei| 15|  male|
|  1|HanMeiMei| 16|female|
|  2|   DaChui| 17|  male|
|  3|    RuHua| 16|  null|
+---+---------+---+------+

df = [idx: bigint, name: string ... 2 more fields]

[idx: bigint, name: string ... 2 more fields]

In [283]:
//删除列
df.drop("gender").show

+---------+---+
|     name|age|
+---------+---+
|    LiLei| 15|
|HanMeiMei| 16|
|   DaChui| 17|
|    RuHua| 16|
+---------+---+

In [284]:
//重命名列
df.withColumnRenamed("gender","sex").show

+---------+---+------+
|     name|age|   sex|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
|    RuHua| 16|  null|
+---------+---+------+

In [285]:
//排序sort，可以指定升序降序
df.sort($"age".desc).show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|   DaChui| 17|  male|
|    RuHua| 16|  null|
|HanMeiMei| 16|female|
|    LiLei| 15|  male|
+---------+---+------+

In [286]:
//排序orderby,默认为升序,可以根据多个字段
df.orderBy(df("age").desc,df("gender").desc).show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|   DaChui| 17|  male|
|HanMeiMei| 16|female|
|    RuHua| 16|  null|
|    LiLei| 15|  male|
+---------+---+------+

In [288]:
//去除nan值行
df.na.drop.show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
+---------+---+------+

In [292]:
//填充nan值
df.na.fill("female").show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
|    RuHua| 16|female|
+---------+---+------+

In [303]:
//替换某些值
df.na.replace(Seq("gender","name"),Map(" "->"female","RuHua"->"SiYu")).show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
|     SiYu| 16|  null|
+---------+---+------+

In [308]:
//去重，默认根据全部字段
val df2 = df.unionAll(df)
df2.show
df2.dropDuplicates().show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    RuHua| 16|  null|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
|    LiLei| 15|  male|
+---------+---+------+

In [310]:
//去重,根据部分字段
df.dropDuplicates("age").show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|HanMeiMei| 16|female|
|    LiLei| 15|  male|
|   DaChui| 17|  male|
+---------+---+------+

In [8]:
//简单聚合操作
df.agg("name"->"count","age"->"max").show

+-----------+--------+
|count(name)|max(age)|
+-----------+--------+
|          4|      17|
+-----------+--------+

In [313]:
//汇总信息
df.describe().show

+-------+------+-----------------+------+
|summary|  name|              age|gender|
+-------+------+-----------------+------+
|  count|     4|                4|     3|
|   mean|  null|             16.0|  null|
| stddev|  null|0.816496580927726|  null|
|    min|DaChui|               15|female|
|    max| RuHua|               17|  male|
+-------+------+-----------------+------+

In [82]:
df.show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
|    RuHua| 16|  null|
+---------+---+------+

In [81]:
//频率超过0.5的年龄和性别
df.stat.freqItems(Seq("age","gender"),0.5).show

+-------------+----------------+
|age_freqItems|gender_freqItems|
+-------------+----------------+
|         [16]|          [male]|
+-------------+----------------+

**4，类SQL表操作**

类sql表操作包括表查询(select,selectExpr,where,filter),表连接(join,union,unionAll),表分组(groupby,agg,pivot)等操作。

In [27]:
import spark.implicits._

val list = List(
("LiLei",15,"male"),
("HanMeiMei",16,"female"),
("DaChui",17,"male"),
("RuHua",16,null)
)

val df = list.toDF("name","age","gender")
df.show()

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
|    RuHua| 16|  null|
+---------+---+------+

list = List((LiLei,15,male), (HanMeiMei,16,female), (DaChui,17,male), (RuHua,16,null))
df = [name: string, age: int ... 1 more field]

[name: string, age: int ... 1 more field]

In [28]:
//表查询select
df.select($"name").limit(2).show

+---------+
|     name|
+---------+
|    LiLei|
|HanMeiMei|
+---------+

In [93]:
df.select($"name",$"age" + 1).show

+---------+---------+
|     name|(age + 1)|
+---------+---------+
|    LiLei|       16|
|HanMeiMei|       17|
|   DaChui|       18|
+---------+---------+

In [9]:
//表查询select
df.select($"name",-$"age"+2019).toDF("name","birth_year").show

+---------+----------+
|     name|birth_year|
+---------+----------+
|    LiLei|      2004|
|HanMeiMei|      2003|
|   DaChui|      2002|
|    RuHua|      2003|
+---------+----------+

In [21]:
//表查询selectExpr,可以使用UDF函数，指定别名等
df.selectExpr("name", "2019-age as birth_year" , "UPPER(gender) as gender" ).show

+---------+----------+------+
|     name|birth_year|gender|
+---------+----------+------+
|    LiLei|      2004|  MALE|
|HanMeiMei|      2003|FEMALE|
|   DaChui|      2002|  MALE|
|    RuHua|      2003|  null|
+---------+----------+------+

In [25]:
//表查询where, 指定SQL中的where字句表达式
df.where("gender='male' and age>15").show

+---+------+---+------+
|idx|  name|age|gender|
+---+------+---+------+
|  2|DaChui| 17|  male|
+---+------+---+------+

In [117]:
//表查询filter
df.filter($"age">16).show

+------+---+------+
|  name|age|gender|
+------+---+------+
|DaChui| 17|  male|
+------+---+------+

In [135]:
//表查询filter,注意不等号的写法
df.filter($"gender"=!="male").show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|HanMeiMei| 16|female|
+---------+---+------+

In [10]:
//表查询filter,注意等于号的写法
df.filter($"gender"==="male").show

+---+------+---+------+
|idx|  name|age|gender|
+---+------+---+------+
|  0| LiLei| 15|  male|
|  2|DaChui| 17|  male|
+---+------+---+------+

In [11]:
//表查询filter
df.filter("gender ='male'").show

+---+------+---+------+
|idx|  name|age|gender|
+---+------+---+------+
|  0| LiLei| 15|  male|
|  2|DaChui| 17|  male|
+---+------+---+------+

In [39]:
//表连接join
val dfscore = Seq(("LiLei","male",88),("HanMeiMei","female",90),("DaChui","male",50))
              .toDF("name","gender","score")

dfscore.show

+---------+------+-----+
|     name|gender|score|
+---------+------+-----+
|    LiLei|  male|   88|
|HanMeiMei|female|   90|
|   DaChui|  male|   50|
+---------+------+-----+

dfscore = [name: string, gender: string ... 1 more field]

lastException: Throwable = null

[name: string, gender: string ... 1 more field]

In [41]:
//表连接join,根据单个字段
df.join(dfscore.select("name","score"),"name").show

+---------+---+------+-----+
|     name|age|gender|score|
+---------+---+------+-----+
|    LiLei| 15|  male|   88|
|HanMeiMei| 16|female|   90|
|   DaChui| 17|  male|   50|
+---------+---+------+-----+

In [44]:
//表连接join,根据多个字段
df.join(dfscore,Seq("name","gender")).show

+---------+------+---+-----+
|     name|gender|age|score|
+---------+------+---+-----+
|    LiLei|  male| 15|   88|
|HanMeiMei|female| 16|   90|
|   DaChui|  male| 17|   50|
+---------+------+---+-----+

In [50]:
//表连接join,根据多个字段
//可以指定连接方式为"inner","left","right","outer"
df.join(dfscore,Seq("name","gender"),"right").show

+---------+------+---+-----+
|     name|gender|age|score|
+---------+------+---+-----+
|    LiLei|  male| 15|   88|
|HanMeiMei|female| 16|   90|
|   DaChui|  male| 17|   50|
+---------+------+---+-----+

In [47]:
df.join(dfscore,Seq("name","gender"),"outer").show

+---------+------+---+-----+
|     name|gender|age|score|
+---------+------+---+-----+
|HanMeiMei|female| 16|   90|
|   DaChui|  male| 17|   50|
|    LiLei|  male| 15|   88|
|    RuHua|  null| 16| null|
+---------+------+---+-----+

In [59]:
//表连接，灵活指定连接关系
val dfmark = dfscore.withColumnRenamed("gender","sex")
dfmark.show

+---------+------+-----+
|     name|   sex|score|
+---------+------+-----+
|    LiLei|  male|   88|
|HanMeiMei|female|   90|
|   DaChui|  male|   50|
+---------+------+-----+

dfmark = [name: string, sex: string ... 1 more field]

[name: string, sex: string ... 1 more field]

In [65]:
df.join(dfmark,df("name")===dfmark("name")&&df("gender")===dfmark("sex"),
        "inner").show

+---------+---+------+---------+------+-----+
|     name|age|gender|     name|   sex|score|
+---------+---+------+---------+------+-----+
|    LiLei| 15|  male|    LiLei|  male|   88|
|HanMeiMei| 16|female|HanMeiMei|female|   90|
|   DaChui| 17|  male|   DaChui|  male|   50|
+---------+---+------+---------+------+-----+

In [75]:
//表连接union,unionAll
val dfstudent = Seq(("Jim",18,"male"),("Lily",16,"female")).toDF("name","age","gender")
dfstudent.show

+----+---+------+
|name|age|gender|
+----+---+------+
| Jim| 18|  male|
|Lily| 16|female|
+----+---+------+

dfstudent = [name: string, age: int ... 1 more field]

[name: string, age: int ... 1 more field]

In [74]:
df.unionAll(dfstudent).show

warning: there was one deprecation warning; re-run with -deprecation for details

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
|    RuHua| 16|  null|
|      Jim| 18|  male|
|     Lily| 16|female|
+---------+---+------+

In [76]:
df.union(dfstudent).show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 15|  male|
|HanMeiMei| 16|female|
|   DaChui| 17|  male|
|    RuHua| 16|  null|
|      Jim| 18|  male|
|     Lily| 16|female|
+---------+---+------+

In [99]:
//表分组 groupBy
import org.apache.spark.sql.functions._
df.groupBy("gender").max("age").show

+------+--------+
|gender|max(age)|
+------+--------+
|  null|      16|
|female|      16|
|  male|      17|
+------+--------+

In [92]:
//表分组后聚合，groupBy,agg
import org.apache.spark.sql.functions._
df.groupBy("gender").agg(mean("age") as "mean_age",collect_list("name") as "names").show

+------+--------+---------------+
|gender|mean_age|          names|
+------+--------+---------------+
|  null|    16.0|        [RuHua]|
|female|    16.0|    [HanMeiMei]|
|  male|    16.0|[LiLei, DaChui]|
+------+--------+---------------+

In [95]:
//表分组聚合，groupBy,agg
import org.apache.spark.sql.functions._
df.groupBy("gender").agg("age"->"avg","name"->"collect_list","name"->"count").show

+------+--------+------------------+-----------+
|gender|avg(age)|collect_list(name)|count(name)|
+------+--------+------------------+-----------+
|  null|    16.0|           [RuHua]|          1|
|female|    16.0|       [HanMeiMei]|          1|
|  male|    16.0|   [LiLei, DaChui]|          2|
+------+--------+------------------+-----------+

In [97]:
//表分组聚合，groupBy,agg
df.groupBy("gender","age").agg("name"->"collect_list").show

+------+---+------------------+
|gender|age|collect_list(name)|
+------+---+------------------+
|  male| 17|          [DaChui]|
|  male| 15|           [LiLei]|
|  null| 16|           [RuHua]|
|female| 16|       [HanMeiMei]|
+------+---+------------------+

In [102]:
//表分组后透视，groupBy,pivot
val dfstudent = Seq(("LiLei",18,"male",1),("HanMeiMei",16,"female",1),
                    ("Jim",17,"male",2),("DaChui",20,"male",2))
                .toDF("name","age","gender","class")
dfstudent.show
dfstudent.groupBy("class").pivot("gender").max("age").show

+---------+---+------+-----+
|     name|age|gender|class|
+---------+---+------+-----+
|    LiLei| 18|  male|    1|
|HanMeiMei| 16|female|    1|
|      Jim| 17|  male|    2|
|   DaChui| 20|  male|    2|
+---------+---+------+-----+

+-----+------+----+
|class|female|male|
+-----+------+----+
|    1|    16|  18|
|    2|  null|  20|
+-----+------+----+

dfstudent = [name: string, age: int ... 2 more fields]

[name: string, age: int ... 2 more fields]

In [106]:
//explode行转列

val helloDF = Seq("hello world","hello China","hello Spark").toDF("value")

helloDF.show

+-----------+
|      value|
+-----------+
|hello world|
|hello China|
|hello Spark|
+-----------+

helloDF = [value: string]

[value: string]

In [112]:
helloDF.explode("value","parts"){s:String => s.split(" ")}.show

warning: there was one deprecation warning; re-run with -deprecation for details

+-----------+-----+
|      value|parts|
+-----------+-----+
|hello world|hello|
|hello world|world|
|hello China|hello|
|hello China|China|
|hello Spark|hello|
|hello Spark|Spark|
+-----------+-----+

### 六，DataFrame的SQL交互

将DataFrame/DataSet注册为临时表或者全局表视图后，可以使用sql语句对DataFrame进行交互。

以下为示范代码。

In [ ]:
//注册为临时表视图
val df = Seq(("LiLei",18,"male"),("HanMeiMei",17,"female"),("Jim",16,"male")).
      toDF("name","age","gender")

df.createOrReplaceTempView("student")
val sqlDF = spark.sql("select * from student limit 2")
sqlDF.show()

In [ ]:
// 注册为全局临时表视图
df.createGlobalTempView("student")

spark.sql("SELECT * FROM global_temp.student").show()

//可以在新的Session中访问
spark.newSession().sql("SELECT * FROM global_temp.student").show()

In [ ]:
//与hive互相衔接交互操作的范例

import java.io.File
import org.apache.spark.sql.{Row, SaveMode, SparkSession}
case class Record(key: Int, value: String)
// warehouseLocation points to the default location for managed databases and tables
val warehouseLocation = new File("spark-warehouse").getAbsolutePath

val spark = SparkSession
  .builder()
  .appName("Spark Hive Example")
  .config("spark.sql.warehouse.dir", warehouseLocation)
  .enableHiveSupport()
  .getOrCreate()

import spark.implicits._
import spark.sql

sql("CREATE TABLE IF NOT EXISTS src (key INT, value STRING) USING hive")
sql("LOAD DATA LOCAL INPATH 'examples/src/main/resources/kv1.txt' INTO TABLE src")

// Queries are expressed in HiveQL
sql("SELECT * FROM src").show()

// Aggregation queries are also supported.
sql("SELECT COUNT(*) FROM src").show()

// The results of SQL queries are themselves DataFrames and support all normal functions.
val sqlDF = sql("SELECT key, value FROM src WHERE key < 10 ORDER BY key")

// The items in DataFrames are of type Row, which allows you to access each column by ordinal.
val stringsDS = sqlDF.map {
  case Row(key: Int, value: String) => s"Key: $key, Value: $value"
}
stringsDS.show()

// You can also use DataFrames to create temporary views within a SparkSession.
val recordsDF = spark.createDataFrame((1 to 100).map(i => Record(i, s"val_$i")))
recordsDF.createOrReplaceTempView("records")

// Queries can then join DataFrame data with data stored in Hive.
sql("SELECT * FROM records r JOIN src s ON r.key = s.key").show()

// Create a Hive managed Parquet table, with HQL syntax instead of the Spark SQL native syntax
// `USING hive`
sql("CREATE TABLE hive_records(key int, value string) STORED AS PARQUET")
// Save DataFrame to the Hive managed table
val df = spark.table("src")
df.write.mode(SaveMode.Overwrite).saveAsTable("hive_records")
// After insertion, the Hive managed table has data now
sql("SELECT * FROM hive_records").show()

val dataDir = "/tmp/parquet_data"
spark.range(10).write.parquet(dataDir)
sql(s"CREATE EXTERNAL TABLE hive_ints(key int) STORED AS PARQUET LOCATION '$dataDir'")
sql("SELECT * FROM hive_ints").show()

// Turn on flag for Hive Dynamic Partitioning
spark.sqlContext.setConf("hive.exec.dynamic.partition", "true")
spark.sqlContext.setConf("hive.exec.dynamic.partition.mode", "nonstrict")

// Create a Hive partitioned table using DataFrame API
df.write.partitionBy("key").format("hive").saveAsTable("hive_part_tbl")
sql("SELECT * FROM hive_part_tbl").show()
spark.stop()

### 七，RDD，DataFrame和 DataSet的相互转换

三种数据结构RDD，DataFrame和DataSet之间可以相互转换。

In [21]:
//RDD转DataFrame
import spark.implicits
val rdd = sc.parallelize(List(("LiLei",15),("HanMeiMei",17),("DaChui",16)),2)
val df = rdd.toDF("name","age")

rdd = ParallelCollectionRDD[66] at parallelize at <console>:38
df = [name: string, age: int]

[name: string, age: int]

In [22]:
//RDD转换DataSet
import spark.implicits._
val rdd = sc.parallelize(List(("LiLei",15),("HanMeiMei",17),("DaChui",16)),2)
case class student(name:String, age:Int)
val ds = rdd.map(s => student(s._1,s._2)).toDS

rdd = ParallelCollectionRDD[67] at parallelize at <console>:21
defined class student
ds = [name: string, age: int]

[name: string, age: int]

In [24]:
//DataFrame或DataSet转RDD
import spark.implicits._
val rdd1 = df.rdd
val rdd2 = ds.rdd

rdd1 = MapPartitionsRDD[72] at rdd at <console>:43
rdd2 = MapPartitionsRDD[74] at rdd at <console>:44

MapPartitionsRDD[74] at rdd at <console>:44

In [25]:
//DataSet转DataFrame
import spark.implicits._
val studentDF = ds.toDF

studentDF = [name: string, age: int]

[name: string, age: int]

In [27]:
//DataFrame转DataSet
import spark.implicits._
case class Student(name:String, age:Int)
val studentDS = df.as[Student]

defined class Student
studentDS = [name: string, age: int]

lastException: Throwable = null

[name: string, age: int]

### 八，用户自定义函数

sparkSQL的用户自定义函数包括二种类型，UDF和UDAF，即普通用户自定义函数和用户自定义聚合函数。

其中UDAF由分为弱类型UDAF和强类型UDAF，前者适合在DataFrame中使用，后者在DataSet中使用。

**1，普通UDF**

In [119]:
spark.udf.register("addName",(x:String)=>"Name:"+x)

UserDefinedFunction(<function1>,StringType,Some(List(StringType)))

In [120]:
df.createOrReplaceTempView("student")

In [122]:
df.selectExpr("addName(name) as name","age").show()

+--------------+---+
|          name|age|
+--------------+---+
|    Name:LiLei| 15|
|Name:HanMeiMei| 16|
|   Name:DaChui| 17|
|    Name:RuHua| 16|
+--------------+---+

lastException: Throwable = null

**2, 弱类型UDAF**

弱类型UDAF需要继承UserDefinedAggregateFunction

In [5]:
import org.apache.spark.sql.expressions.{MutableAggregationBuffer, UserDefinedAggregateFunction}
import org.apache.spark.sql.types._
import org.apache.spark.sql.{Row, SparkSession}

object MyAverage extends UserDefinedAggregateFunction {
  //聚合函数输入的类型
  override def inputSchema: StructType = StructType(StructField("inputColumn", LongType) :: Nil)

  //聚合函数缓冲区类型
  override def bufferSchema: StructType = 
  StructType(StructField("sum", LongType) :: StructField("column", LongType) :: Nil)

  //返回值类型
  override def dataType: DataType = DoubleType

  //相同输入是否返回相同输出
  override def deterministic: Boolean = true

  //初始化
  override def initialize(buffer: MutableAggregationBuffer): Unit = {
    buffer(0) = 0L
    buffer(1) = 0L
  }

  //相同数据合并
  override def update(buffer: MutableAggregationBuffer, input: Row): Unit = {
    if (!input.isNullAt(0)) {
      buffer(0) = buffer.getLong(0) + input.getLong(0)
      buffer(1) = buffer.getLong(1) + 1
    }
  }

  //不同Executor之间的数据合并
  override def merge(buffer1: MutableAggregationBuffer, buffer2: Row): Unit = {
    buffer1(0) = buffer1.getLong(0) + buffer2.getLong(0)
    buffer1(1) = buffer1.getLong(1) + buffer2.getLong(1)
  }

  //计算结果
  override def evaluate(buffer: Row): Any = buffer.getLong(0).toDouble / buffer.getLong(1)
}

defined object MyAverage

In [6]:
spark.udf.register("MyAverage", MyAverage)

MyAverage$@1b70c925

In [4]:
val df = Seq(("LiLei",18,"male"),("HanMeiMei",17,"female"),("Jim",16,"male")).
      toDF("name","age","gender")
df.show

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|    LiLei| 18|  male|
|HanMeiMei| 17|female|
|      Jim| 16|  male|
+---------+---+------+

df = [name: string, age: int ... 1 more field]

lastException: Throwable = null

[name: string, age: int ... 1 more field]

In [8]:
df.agg("age"->"MyAverage").show

+--------------+
|myaverage(age)|
+--------------+
|          17.0|
+--------------+

**3，强类型UDAF**

强类型UDAF需要继承自Aggregator，不可注册

In [21]:
import org.apache.spark.sql.expressions.Aggregator
import org.apache.spark.sql.{Encoder, Encoders, SparkSession}

case class Employee(name: String, salary: Long)

case class Average(var sum: Long, var count: Long)

object MyAverage2 extends Aggregator[Employee, Average, Double] {
  //定义一个数据结构，保存工资总数和工资总个数，初始都为0
  override def zero: Average = Average(0L, 0L)

  //统计数据
  override def reduce(b: Average, a: Employee): Average = {
    b.sum += a.salary
    b.count += 1
    b
  }

  //各个Execute数据汇总
  override def merge(b1: Average, b2: Average): Average = {
    b1.sum += b2.sum
    b1.count += b2.count
    b1
  }

  //计算输出
  override def finish(reduction: Average): Double = reduction.sum.toDouble / reduction.count

  // 设定之间值类型的编码器，要转换成case类
  // Encoders.product是进行scala元组和case类转换的编码器
  override def bufferEncoder: Encoder[Average] = Encoders.product

  //设置最终输出编码器
  override def outputEncoder: Encoder[Double] = Encoders.scalaDouble
}

defined class Employee
defined class Average
defined object MyAverage2

In [22]:
import spark.implicits._

val ds = spark.read.json("resources/employees.json").as[Employee]
ds.show()

+-------+------+
|   name|salary|
+-------+------+
|Michael|  3000|
|   Andy|  4500|
| Justin|  3500|
|  Berta|  4000|
+-------+------+

ds = [name: string, salary: bigint]

[name: string, salary: bigint]

In [24]:
//将MyAverage2转换成TypedColumn并给它命名
val average_salary = MyAverage2.toColumn.name("average_salary")
ds.select(average_salary).show()

+--------------+
|average_salary|
+--------------+
|        3750.0|
+--------------+

average_salary = myaverage2() AS `average_salary`

myaverage2() AS `average_salary`